---
import { Icon } from 'astro-icon/components';
---

<section class="quicklink-section py-14">
  <div class="max-w-screen-xl mx-auto px-4 md:text-center md:px-8">
      <div class="max-w-xl md:mx-auto">
          <h3 class="text-gray-800 text-2xl font-semibold ">Quick Links:</h3>
      </div>
      <div class="flex gap-8 items-center mt-9 md:justify-center">
        <a href="javascript:void(0)" class="group inline-block leading-7 py-[21px] px-10 text-white text-[22px] font-medium bg-hacl-blue duration-150 hover:bg-hacl-med-blue active:bg-hacl-med-blue rounded-xl shadow-md hover:shadow-none"> Community Impact <i class="fa-solid fa-circle-chevron-right ml-3 text-hacl-green group-hover:text-hacl-highlight-green"></i></a>
        <a href="javascript:void(0)" class="group inline-block leading-7 py-[21px] px-10 text-white text-[22px] font-medium bg-hacl-blue duration-150 hover:bg-hacl-med-blue active:bg-hacl-med-blue rounded-xl shadow-md hover:shadow-none"> For Patients <i class="fa-solid fa-circle-chevron-right ml-3 text-hacl-green group-hover:text-hacl-highlight-green"></i></a>
        <a href="javascript:void(0)" class="group inline-block leading-7 py-[21px] px-10 text-white text-[22px] font-medium bg-hacl-blue duration-150 hover:bg-hacl-med-blue active:bg-hacl-med-blue rounded-xl shadow-md hover:shadow-none"> View Discussions <i class="fa-solid fa-circle-chevron-right ml-3 text-hacl-green group-hover:text-hacl-highlight-green"></i></a>
      </div>
      <div class="max-w-4xl text-hacl-blue md:mx-auto mt-16">
        <p class="text-[24px]">If you need to check on a referral, need help finding a local provider, or if you have questions, please call our customer service department at</p>
        <div class="mt-2 font-semibold text-[24px]">
            <a href="tel:(818) 702-0100" class="editable hover:text-hacl-highlight-green transition-colors delay-75" aria-current="page"><span class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 md:inline"><i class="fa-solid fa-phone fa-fw"></i></span> (818) 702-0100</a>
        </div>
        <p class="mt-2 text-[20px]">M – F, 9:00 a.m. – 5:00 p.m. PST</p>
    </div>
  </div>
</section>
