---
// import "@fortawesome/fontawesome-free/css/all.css"; 
---

<div class="top-bar bg-[#34C565] dark:text-slate-400 px-3 py-2 relative text-ellipsis whitespace-nowrap"> 
<div class="items-center justify-end w-full flex md:w-auto md:order-1 md:px-6 mx-auto w-full max-w-7xl">
  <ul class="flex text-xs p-0 font-medium md:space-x-6 text-white rtl:space-x-reverse flex-row mt-0">
    <li>
      <a href="tel:(818) 702-0100" class="editable" aria-current="page"><span class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline"><i class="fa-solid fa-phone fa-fw"></i></span> (818) 702-0100</a>
    </li>
    <li>
      <a href="#" class="editable">Provider Login</a>
    </li>
    <li>
      <a href="#" class="editable">MedPOINT</a>
    </li>
    <li>
      <a href="#" class="editable">Contact Us</a>
    </li> 
  </ul>
</div>
</div>
