---
// import "@fortawesome/fontawesome-free/css/all.css"; 
---

<div
  class="top-bar text-muted text-sm bg-[#34C565] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 px-3 py-2 relative text-ellipsis whitespace-nowrap"
> 
<div class="items-center justify-end w-full flex md:w-auto md:order-1 md:px-6 mx-auto w-full max-w-7xl">
  <ul class="flex p-0 font-medium md:space-x-8 text-white rtl:space-x-reverse flex-row mt-0">
    <li>
      <a href="tel:(818) 702-0100" class="editable" aria-current="page"><span  class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline"><i class="fa-solid fa-phone fa-fw"></i></span> (818) 702-0100</a>
    </li>
    <li>
      <a href="#" class="editable">About</a>
    </li>
    <li>
      <a href="#" class="editable">Services</a>
    </li>
    <li>
      <a href="#" class="editable">Contact</a>
    </li> 
  </ul>
</div>

</div>
