---
//import { SITE } from '~/utils/config';
---

<span class="self-center ml-0 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
      <img src="../src/assets/images/health_care_LA_logo.svg" alt="logo" class="dark:hidden" />
</span>
